<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0">{{ isEditMode ? 'Update User' : 'Add User' }}</h4>
    <div class="custom-alert-wrapper">
      <div #alertContainer class="alert d-flex align-items-center rounded p-2 text-sm" *ngIf="showSuccessAlert">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-check me-2"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
        <p class="mb-0 fs-6">{{ notificationMessage }}</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-x ms-2"
          (click)="closeAlert()"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </div>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="navigateToBackUsers()">
      <i class="bi bi-arrow-left-circle"></i>
      <span>Back To List</span>
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="userForm" class="my-custom-form">
      <div class="row gy-4 p-3">
        <div class="col-md-6">
          <label class="fw-bold">
            User Name
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" placeholder="Enter User Name" formControlName="userName" />
          <div *ngIf="submitted && fc['userName'].invalid" class="text-danger small">
            <div *ngIf="fc['userName'].errors?.['required']">User Name is required.</div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="fw-bold">
            Email
            <span class="text-danger">*</span>
          </label>
          <input type="email" class="form-control" placeholder="Enter Email" formControlName="email" />
          <div *ngIf="submitted && fc['email'].invalid" class="text-danger small">
            <div *ngIf="fc['email'].errors?.['required']">Email is required.</div>
            <div *ngIf="fc['email'].errors?.['email']">Invalid email format.</div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="!isEditMode">
          <label for="password" class="col-md-2 col-form-label fw-bold">
            Password
            <span class="text-danger">*</span>
          </label>
          <div class="col-md-10">
            <div class="input-group">
              <input
                [type]="fieldTextType ? 'text' : 'password'"
                class="form-control"
                id="password"
                placeholder="Enter Your Password"
                formControlName="password"
              />
              <span class="input-group-text" style="cursor: pointer" (click)="togglefieldTextType()">
                <i [ngClass]="fieldTextType ? 'ti ti-eye' : 'ti ti-eye-off'"></i>
              </span>
            </div>

            <div *ngIf="submitted && fc['password'].errors" class="text-danger small mt-1">
              <div *ngIf="fc['password']?.errors?.['required']">Password is required.</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button
            type="reset"
            class="btn btn-light btn-sm me-2"
            *ngIf="!isEditMode"
            style="background-color: #f0f0f0; color: #333; border: 1px solid #ccc; border-radius: 0.25rem; transition: 0.3s"
            onmouseover="this.style.backgroundColor='#e2e2e2'"
            onmouseout="this.style.backgroundColor='#f0f0f0'"
          >
            <i class="bi bi-x"></i>
            Clear
          </button>
          <button type="button" class="btn btn-secondary btn-sm" [disabled]="showSuccessAlert" (click)="onSubmit()">
            <i class="bi bi-save"></i>
            {{ isEditMode ? 'Update' : 'Submit' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
